*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
/*!HEADER */
header{
    background-color: #2f3c46;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 3px solid rgb(169, 80, 139);
}
.header__left{

}
.header__left p{
font-size: 1.8rem;
font-weight: bold;
color: white;
}
.header__left span{
color: rgb(169, 80, 139);
}
.header__right a{
margin: 1rem;
text-decoration: none;
font-weight: 700;
font-size: larger;
}
.header__right a:hover{
   border-bottom: 2px solid ;
}
.header__right .home{
    color: rgb(169, 80, 139);
}
.header__right .color{
    color:aliceblue;
}

/*! BANNER */
.banner{
position: relative;
}
.banner .banner__img{
width: auto;
height: 850px;
overflow:hidden;
}
.banner .banner__hero{
font-size: 1rem;
position: absolute;
top: 200px;
left: 140px;
color: antiquewhite;
text-align: center;
letter-spacing: 1px;
word-spacing: 2px;
}
.banner__hero h1{
  font-size: 3rem;
}

/*!SUBSCRIBE */
 .subscribe{
    background-color: #2f3c46;
    color: antiquewhite;  
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
 }
 .subscribe__left{
    letter-spacing: 1.5px;
 }
 .subscribe__right *{
   padding: 5px;
   margin-left: 5px;
 }
 .subscribe__right input{
    outline: none;
 }
 .subscribe__right button{
    padding: 6px;
    background-color: tomato;
    color: antiquewhite;
    font-weight: 600;
    border: none;
 }
 .subscribe__right button:active{
    opacity: 0.85;
 }

 /*! MAIN */
main{
    display: flex;
    padding-top: 2rem;
    flex: 1;
}
    
main *{
    text-align: center;
    padding: 0.8rem;
    font-size: 0.8rem;    
}
main p{
border: 1px solid gray;
border-radius: 10px;
word-spacing: 2px;
}

/*! FOOTER */
footer{
    background-color: #2f3c46;
    color: antiquewhite;
    padding: 1rem;
    text-align: center;   
   }

   .underconstruction{
    display: flex;
    font-size: larger;
   }

   /*! ABOUT HTML*/
   section.about {
    height: 60vh;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    line-height: 1rem;
    }
   .about__main--one{
    flex-grow: 3;
   }
   .about__main_two{
    padding: 10px;
    color:antiquewhite;
    background-color:#2f3c46
   }
   .about__main--aside{
    flex-grow: 1;
    color:antiquewhite;
    padding: 1rem;
    max-height:30vh;
    justify-content: center;
    align-content: center;
    margin-left: 0.7rem;
    background-color: #2f3c46;
   }

   /*! SERVICES HTML */
   .services__main{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 1rem;
    gap: 1rem 2rem;  
    
   }   
   
   .services{
    flex-grow: 3;
    display: flex;    
    flex-direction: column;
    gap: 0.5rem;
   }
   .description1, .description2, .description3 {
    background-color: lightsteelblue;
    padding: 1rem;
    border-bottom: 3px solid white;
   }
   .form{
    padding: 0.5rem;
    max-height: 40vh;
    max-width:30vw;
    color:beige;
    flex-grow: 1;
    background-color: #2f3c46;    
   }
   .form h3{
    text-align: center;
   }
   .form input{
    width:25vw;
    margin-bottom: 0.7rem;
   }
   .form button{
    color:beige;
    padding: 3px;
    background-color: tomato;    
    font-weight: 500;
    border: none;
   }
   #message{
    width: 25vw;
   }